*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock{
    background:url(img/analogic-clock.png) no-repeat center ;
    min-width: 30rem;
    background-size: 100%;
    height: 30rem;
    position: absolute;
}

.seconds,
.minutes,
.hours{
position: absolute;
transform-origin: center bottom;
}

.seconds{
    background-color: red;
    width: 5px;
    height: 14rem;
    bottom:50%;
    left: 49.5%;

}
.minutes{
    background-color: black;
    width: 8px;
    height: 13rem;
    bottom:50%;
    left: 49.3%;
}
.hours{
        background-color: black;
        width: 8px;
        height: 9rem;
        bottom:50%;
        left: 49.1%;
}

@media(max-width:490px){
    .clock{
        min-width: 28rem;
    }
    .seconds{
        height: 13rem;
    }
    .minutes{
        height: 12rem;
    }
    .hours{
        height: 8rem;
    }
}
@media(max-width:450px){
    .clock{
        min-width: 26rem;
    }
    .seconds{
        height: 12rem;
    }
    .minutes{
        height: 11rem;
    }
    .hours{
        height: 7rem;
    }
}
@media(max-width:430px){
    .clock{
        min-width: 24rem;
    }
    .seconds{
        height: 11rem;
    }
    .minutes{
        height: 10rem;
    }
    .hours{
        height: 6rem;
    }
}

@media(max-width:390px){
    .clock{
        min-width: 22rem;
    }
    .seconds{
        height: 10rem;
    }
    .minutes{
        height: 9rem;
    }
    .hours{
        height: 5rem;
    }
}